.home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    flex-direction: column; /* Alinha os elementos verticalmente */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerContainer {
    width: auto;
    padding: 20px; /* Adiciona espaçamento interno */
    display: flex; /* Ativa flexbox */
    flex-direction: column; /* Alinha os itens verticalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    align-items: center;     /* Centraliza os itens horizontalmente */
    gap: 20px; /* Espaçamento uniforme entre os elementos */
    background: rgba(255, 255, 255, 0.8); /* Fundo branco semitransparente */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.headerContainer h1 {
    font-size: 60px; /* Reduz o tamanho do título */
    font-weight: 600; /* Negrito */
    color: #121619;
    text-align: center; /* Centraliza o texto */
    margin: 0; /* Remove margens extras */
}

.headerContainer button {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #121619;
    height: 50px;
    width: 200px; /* Tamanho maior para os botões */
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.headerContainer button:hover {
    background-color: #07090a; /* Cor mais escura ao passar o mouse */
}

.headerContainer a {
    text-decoration: none; /* Remove sublinhado dos links */
}

@media only screen and (max-width: 650px) {
    .home {
        justify-content: center;
        align-items: center;
    }

    .headerContainer {
        margin-left: 0px;
        border-radius: 10px;
        padding: 10px;
        width: 90%;
        background-color: #121619;
        color: white;
    }

    .headerContainer h1 {
        font-size: 40px;
        color: white;
    }

    .headerContainer button {
        background-color: white;
        color: #121619;
        margin-bottom: 20px;
    }

    .headerContainer button:hover {
        background-color: rgb(225, 225, 225);
        color: #121619;
    }
}