.projetosContainer {
  padding: 40px;
  text-align: center;
  font-family: 'Georgia', serif;
   background-color: black;
   color: white;
}

.botoesFiltro {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.botoesFiltro button {
  background-color: #ff1493;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.botoesFiltro button:hover {
  background-color: #cc0e74;
}

.gradeImagens {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas fixas */
  gap: 30px;
  padding: 20px;
}


.imagemBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Georgia', serif;
  color: #333;
}

.imagemBox img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.imagemBox img:hover {
  transform: scale(1.05);
}

.imagemBox h3 {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}

.imagemBox p {
  font-size: 0.9rem;
   margin-top: 5px;
  color: white;
}

@media screen and (max-width: 1024px) {
  .gradeImagens {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .gradeImagens {
    grid-template-columns: repeat(1, 1fr);
  }
}
