
/* Box 1: Título */
.boxTitulo {
    width: 100%;
    background-color: #000;
    padding: 60px 40px;
    text-align: left;
    font-family: 'Georgia', serif;
    /* ou outra fonte */
    font-size: 2rem;
    /* font-weight: bold; */
    color: white;
}

.boxTitulo h1 {
    color: white;
    font-size: 3rem;
    margin: 0;
}

.boxTitulo span {
    color: #ff1492;
    /* rosa */
}

/* Box 2: Rosa com imagem à esquerda */
.boxRosa {
    display: flex;
    flex-direction: row;
    background-color: #ff1492;
    color: white;
    padding: 40px 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    font-family: 'Georgia', serif;
    /* ou outra fonte */
    font-size: 2rem;
    color: white;
}
.buttonBoxRosa {
       color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #121619;
    height: 50px;
    width: 100px; 
    max-width: 300px;
    text-decoration: none;
    text-align: center; 
    font-size: 1rem; 
    transition: background-color 0.3s ease;
}

.boxRosa .boxImagem img {
    width: 400px;
    /* ou qualquer tamanho que prefiras */
    height: 500px;
    border-radius: 20px;
    /* Borda arredondada */
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* opcional: sombra leve */
    
}

/* Box 3: Preto com imagem à direita */
.boxPreto {
    display: flex;
    flex-direction: row;
    background-color: #000;
    color: white;
    padding: 40px 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    font-family: 'Georgia', serif;
    /* ou outra fonte */
    font-size: 2rem;
    color: white;
}
.buttonBoxPreto {
       color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff1492;
    height: 50px;
    width: 100px; 
    max-width: 300px;
    text-decoration: none;
    text-align: center; 
    font-size: 1rem; 
    transition: background-color 0.3s ease;
}

.boxPreto .boxImagem img {
    width: 400px;
    /* ou qualquer tamanho que prefiras */
    height: 500px;
    border-radius: 20px;
    /* Borda arredondada */
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* opcional: sombra leve */
}

.boxColuna {
    flex: 1;
    min-width: 250px;
}

.boxTexto h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.boxTexto ul {
    list-style-type: disc;
    padding-left: 20px;
}

@media screen and (max-width: 768px) {

    .boxRosa,
    .boxPreto {
        flex-direction: column;
        text-align: center;
    }

    .boxTexto ul {
        padding-left: 0;
        list-style-position: inside;
    }
}