.simulacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #f4f4f9;
  }
  
  .headerContainer {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .buttonContainer {
    margin-top: 20px;
  }
  
  .buttonContainer button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .buttonContainer button:hover {
    background-color: #1565c0;
  }
  