.boxTitulo {
    width: 100%;
    background-color: #000;
    padding: 60px 40px;
    text-align: center;
    font-family: 'Georgia', serif;
    /* ou outra fonte */
    font-size: 2rem;
    /* font-weight: bold; */
    color: white;
}

.boxTitulo h1 {
    color: white;
    font-size: 2rem;
    margin: 0;
}
.boxTitulo h2 {
    color: white;
    font-size: 1rem;
    margin: 2;
}
.box-imagens {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 20px;
  background-color: black;
  flex-wrap: wrap;
}

.imagem-item {
  text-align: center;
  max-width: 250px;
}

.imagem-item img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagem-item h3 {
  margin-top: 15px;
  font-size: 1.2rem;
  font: bold;
  color: white;
}

.imagem-item p {
  font-size: 1rem;
  color: white;
}

/* Box 2: Rosa com imagem à esquerda */
.boxRosa {
    display: flex;
    flex-direction: row;
    background-color: #ff1492;
    color: white;
    padding: 40px 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    font-family: 'Georgia', serif;
    /* ou outra fonte */
    font-size: 2rem;
    color: white;
}

.boxRosa .boxImagem img {
    width: 400px;
    /* ou qualquer tamanho que prefiras */
    height: 500px;
    border-radius: 20px;
    /* Borda arredondada */
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* opcional: sombra leve */
}

/* Box 3: Preto com imagem à direita */
.boxPreto {
    display: flex;
    flex-direction: row;
    background-color: #000;
    color: white;
    padding: 40px 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    font-family: 'Georgia', serif;
    /* ou outra fonte */
    font-size: 2rem;
    color: white;
}

.boxPreto .boxImagem img {
    width: 400px;
    /* ou qualquer tamanho que prefiras */
    height: 500px;
    border-radius: 20px;
    /* Borda arredondada */
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* opcional: sombra leve */
}

.boxColuna {
    flex: 1;
    min-width: 250px;
}

.boxTexto h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.boxTexto ul {
    list-style-type: disc;
    padding-left: 20px;
}

@media screen and (max-width: 768px) {

    .boxRosa,
    .boxPreto {
        flex-direction: column;
        text-align: center;
    }

    .boxTexto ul {
        padding-left: 0;
        list-style-position: inside;
    }
}